* {
    color: #333333;
    font-family: "Arial", sans-serif;
    font-size: 1em;
}
header {
  padding-bottom: 3em;
}
.error {
    color: red;
    height: 50px;
    padding: 10px 0px;
}
#winners li {
    font-weight: normal;
    font-size: 1.5em;
    transition: all 220ms;
    display: block;
    vertical-align: middle;
}
#winners li:first-of-type {
    color: transparent;
    background: #aaa;
    padding: 10px;
    text-align: center;
    display: none;
}
#winners li span {
    color: #fff;
    font-size: 1.6em;
}
#winners li.first {
    font-weight: bold;
    background-color: #ccc;
    font-size: 2em;
    color: #000;
    transition: all 220ms;
    display: inline-block !important;
}
#pick-winner {
    display: none;
}
.shaky {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
  display: inline-block !important;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
body {
    height: 100%;
    box-sizing: border-box;
    background: url("../assets/boxes-bg.png") no-repeat bottom right;
    background-size: contain;
    padding: 2em;
}
html {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */
  background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 */
  height: 100%;
}
.picky-picky {
    height: 72px;
}
table {
    font-size: 1.2em;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
th {
    background-color: #ddd;
}
td, th {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}


input[type=text], input[type=email], .button {
  border-radius: 6px;
}

input[type=text], input[type=email] {
  border: 1px solid #777;
}

input[type=text]::placeholder, input[type=email]::placeholder {
  color: #555 !important;
}

.button:not(.hollow) {
  background-color: #ff7211 !important;
}
#submit {
  font-size: 1.4em;
  padding: 0.5em;
  font-weight: bold;
}
#submit:hover {
  background-color: #777 !important;
  transition: all 220ms;
}
.mini-logo {
  display: none;
}
.column h4 {
  font-size: 1.5em;
}
.column h5 {
  font-size: 1em;
}
.thanks {
  color: #ff7211;
  text-align: center;
  font-size: 1.8em;
  padding-top: 20%;
  font-weight: bold;
}
main h4 strong {
  font-size: 1.7em;
  color: #ff7211;
}
.small-draw-date {
  display: none;
}


@media only screen and (orientation: portrait) {
  html {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.1+100 */
    background: -moz-linear-gradient(-45deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#1a000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    height: auto;
    min-height: 100%;
  }
  body {
    background-size: 80%;
    height: auto;
    min-height: 100%;
  }
  header .large-4 img {
    display: none;
  }
  .mini-logo {
    display: block;
  }
  .column h4 {
    font-size: 0.95em;
    text-align: center;
  }
  .column h4:last-of-type {
    font-size: 0.78em;
  }
  .column h4 strong {
    font-size: 1.35em;
    color: #ff7211;
  }
  .column h5 {
    font-size: 0.6em;
    text-align: center;
  }
  input[type=text], input[type=email] {
    font-size: 0.9em;
  }
  #submit {
    font-size: 1em;
    padding: 0.8em;
  }
  .success {
    text-align: center;
    padding-top: 10vh;
  }
  .thanks {
    padding: 0px;
    font-size: 1.2em;
    display: inline;
    line-height: 1em;
  }
  .small-draw-date {
    display: block;
  }
  .large-draw-date {
    display: none;
  }
}
.back2r {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 5px;
  font-size: 0.8em;
  color: #ff7211;
}
